@use "./styles/card";
.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
}

h1,
h2,
h3 {
  text-transform: capitalize;
}



.section-banner {
  background-color: #f1592a;
}